div {
  height: 50px;
  width: 50px;
  background-color: blue;
}

/* @media (min-width: 600px) {
  div {
    background-color: brown;
  }
} */
@media (min-width: 300px) and (max-width: 600px) {
  div {
    background-color: brown;
  }
}
